body {
  margin: 0;
  background: #000;
}

#vidbox {
  position: absolute;
  top: 10px; left: 10px;
  transform-origin: left top;
  transform: scale(.1);
}

#vid {
  display: none;
//  transform: rotateZ(180deg); /* なぜか天地反転するので天地反転し返す */
}

#cvs {
  display: block;
  position: absolute;
  top: 10%; left: 0;
  width: 100%; height: 100%;
}
